.search-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.search-bar {
  width: 100%;
  max-width: 353px;
  height: 43px;
  border-radius: 7px;
  font-size: larger;
  padding: 5px;
}
