.body-cnt {
  width: 100%;
  width: auto;
  padding: 5px;
}

.search-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.search-bar {
  width: 100%;
  max-width: 353px;
  height: 43px;
  border-radius: 7px;
  font-size: larger;
  padding: 5px;
}

.btn-cnt {
  width: 100%;
  width: auto;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  height: 53px;
  width: 53px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: aliceblue;
}

.bi-plus-lg {
  color: blue;
  height: 33px;
  width: 33px;
}
