@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.nav-cnt {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.nav-heading {
  font-size: 2.2rem;
  font-family: 'Fjalla One', sans-serif;
}
